
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>golden</title>
	<link rel="stylesheet" href="../stylesheet/golden.css"/>
</head>

<body>
	<header>
		<div class="container">
			<div class="heading clearfix">
				<img src="https://cs06.spac.me/p/090212025215191242224138174047113237014023040138034119/1569308531/250000536/0/53a34953456a76977f7796f99aea3495/063a2ed1e98512d06e0cf0a4f7bc0a00/0/BoSsfoR/logo-spcs.me.png" alt="golden" class="logo">

				<nav>
					<ul class="menu">
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Services</a>
						</li>
						<li>
							<a href="#">Portfolio</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="titles">
				<div class="titles__first">
					Welcome to Our Studio!
				</div>
				<h1>
					It's nice to Meet you
				</h1>
			</div>
			<a class="button" href="#">Tell Me More</a>
		</div>
	</header>
	<section id="services">
		<div class="container">
			<div class="title">
				<h2>
					Services
				</h2>
				<p>
					Prein iaculis purus consequat sem cure.
				</p>
			</div>
			<div class="services clearfix">
				<div class="services__item">
					<img src="https://ts02.spac.me/tpic/3210359506/1569257100/c993ef27914b4d3e31888d302e6cc1c1/250000013.p.800.800.0.jpg" alt="services">
					<h3>E-Commerce</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="services__item">
					<img src="https://ts01.spac.me/tpic/1793373558/1569257100/0050c07b1fa59c85f9e58a05a3d8effa/250000016.p.800.800.0.jpg" alt="services" >
					<h3>Responsive Web</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="services__item">
					<img src="https://ts01.spac.me/tpic/3222014362/1569257100/4b4184cfaa55144b62c097f9ba413e67/250000017.p.800.800.0.jpg" alt="services" >
					<h3>Web Security</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="portfolio">
		<div class="container">
			<div class="title">
				<h2>
					Our Portfolio
				</h2>
				<p>
					Lorem ipsum dolor sit amet.
				</p>
			</div>
			<div class="works clearfix">
				<img src="https://ts02.spac.me/tpic/496827329/1569260700/e7ffbb906bf3ecf540ea2454a12b7d57/250000019.p.600.600.0.jpg" alt="Work">
				<img src="https://ts01.spac.me/tpic/1376717501/1569260700/1235ff5fcf403689bd0d88a6cc12cec9/250000020.p.600.600.0.jpg" alt="Work">
				<img src="https://ts01.spac.me/tpic/549713952/1569260700/2a31ea3a16a48ced819b121ae057732c/250000021.p.600.600.0.jpg" alt="Work">
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="title">
				<h2>
					About US
				</h2>
				<p>
					Lorem ipsum dolor sit amet.
				</p>
			</div>
			<div class="about__us clearfix">
				<div class="about__us__item">
					<img src="https://ts01.spac.me/tpic/2683174491/1569303900/4729e78b689e24e020f42304c45bc6b8/250000006.p.600.600.0.jpg" alt="about_us">
					<h3>July 2010 <br>Our Humble Berginnings</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
				<div class="about__us__item">
					<img src="https://ts02.spac.me/tpic/2350846747/1569306600/a13f45fa26e3dde942643f626bb99658/250000007.p.800.800.0.jpg" alt="about_us">
					<h3>Janyary 2011 <br>Facing Startup Battles</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</div>
	</section>
	<footer>
		<div class="container">
			<p>
				Copyright 2019 September. A.Rozputnii.
			</p
		</div>
	</footer>

</body>
</html>