body {
	font-family: Arial, sans-serif;
	padding: 0;  /* отступ внутрь элемента */
	margin: 0;   /* отступ наружу элемента */
}

/*решает проблему с повторением float в одном блоке, когда все смещается вверх */ 
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}


/* позволяет не увеличивать высоту/ширину при изминении падинга */
div {
	box-sizing: border-box;
}

header {
	background: url(https://ts02.spac.me/tpic/1215793244/1569247200/88b34b125a44d0f94eb177bc05327633/250000012.p.800.800.0.jpg) no-repeat center top / cover ;
	padding-bottom: 160px;
}

.container {
	width: 930px ;
	/* выравнивание по центру */
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;
}

nav {
	float: right;
	margin-top: 50px;
}
	

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 40px ;
}

.menu a {
	color: #fff ;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles__first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 205px;
}

h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	background: #fed136 ;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px ;
	padding: 20px 0;
	margin: 0px auto;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px ;
	margin-top: 60px;
}

.title {

}

.title h2 {
	font-size:  40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 115px;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.services {
	margin-top: 80px;
}

.services__item {
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	font-size: 14px;
	color: #888888;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}
.services__item:nth-child(2) {
	margin-left: 60px;
}

#services {
	padding-bottom: 120px;
}

#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.works {
	margin-top: 70px;
}

.works img {
	float: left;
}

.works img:nth-child(2) {
	margin-left: 30px;
}

.works img:last-child {
	float: right;
}

.about__us {
	margin-top: 130px;
}
.about__us__item {
	width: 270px;
	float: left;
	text-align: center;
}

.about__us__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.about__us__item p {
	font-size: 14px;
	color: #888888;
	line-height: 1.55em;
}

.about__us__item:last-child {
	float: right;
}
.about__us__item:nth-child(2) {
	margin-left: 60px;
}


footer {
	background: #f7f7f7;
	margin-top: 80px;
	padding-bottom: 120px;
	text-align: center;
	font-size: 10px;
}

footer p {
	padding-top: 50px;
}